<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home - Eco Storage</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="font-sans m-0 p-0">

    <header>
        <nav class="bg-gray-800 flex items-center justify-between px-8">
            <div class="flex items-center">
                <h1 class="text-green-700 text-2xl mr-10">EcoStorage</h1>
                <a href="index.html" class="text-white py-7 px-5 hover:bg-gray-300 hover:text-black">Home</a>
                <a href="sobre.html" class="text-white py-7 px-5 hover:bg-gray-300 hover:text-black">Sobre</a>
                <a href="servicos.html" class="text-white py-7 px-5 hover:bg-gray-300 hover:text-black">Serviços</a>
                <a href="contato.html" class="text-white py-7 px-5 hover:bg-gray-300 hover:text-black">Contato</a>
            </div>

            <div class="auth-buttons flex">
                <button class="bg-green-500 text-white py-2 px-4 ml-6 rounded hover:bg-green-600" onclick="window.location.href='login.html'">Login</button>
                <button class="bg-green-500 text-white py-2 px-4 ml-6 rounded hover:bg-green-600" onclick="window.location.href='cadastro.html'">Cadastro</button>
            </div>
        </nav>
    </header>

    <section class="pt-32 p-10 flex justify-between items-center">
    <div class="text-left">
        <h2 class="text-2xl font-bold">Página Inicial</h2>
        <p class="mt-4">Esta é a página inicial do nosso site. Aqui você pode encontrar as últimas notícias, artigos e muito mais.</p>
    </div>
    
    <img src="https://www.teraambiental.com.br/hs-fs/hubfs/Reciclar%2C%20reaproveitar%2C%20reutilizar.png?width=614&name=Reciclar%2C%20reaproveitar%2C%20reutilizar.png" alt="Imagem de exemplo" class="w-64 h-auto ">
    </section>


    <footer class="bg-gray-800 text-white text-center py-4 fixed inset-x-0 bottom-0">
        <p>&copy; 2024 Eco Storage. Todos os direitos reservados.</p>
    </footer>

</body>
</html>
