<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .bg-gradient {
            background-image: radial-gradient(ellipse 80% 80% at 50% 20%, rgba(0,180,0,0.6), rgba(119,255,255,0));
        }
    </style>
</head>
<body class="bg-neutral-950 bg-gradient min-h-screen flex items-center justify-center">
    <div class="bg-white/10 backdrop-blur-md p-8 rounded-lg shadow-lg w-96">
        <div class="form-container">
        <h1 class="text-2xl font-bold mb-6 text-center text-white">Fazer Login</h1>
        {% if messages %}
            {% for message in messages%}
                <div class="error">{{message}}</div>  
                    {% endfor %}
                {% endif %}            
        <form id="loginForm" method="POST" action="{% url 'login' %}" class="space-y-4">
                {% csrf_token %}
            <div>
                <label for="username" class="block text-white my-1">Nome de Usuário</label>
                <input type="text" id="username" name="username" required
                       class="px-2 py-1 mx-auto block w-full rounded-md bg-white/20 border-transparent focus:border-purple-500 focus:bg-white/30 focus:ring-0 text-white placeholder-gray-400"
                       placeholder="Nome de Usuário">
            </div>
            <div>
                <label for="password" class="block text-white my-1">Senha</label>
                <input type="password" id="password" name="password" required
                       class="px-2 py-1 my-2 mx-auto block w-full rounded-md bg-white/20 border-transparent focus:border-purple-500 focus:bg-white/30 focus:ring-0 text-white placeholder-gray-400"
                       placeholder="••••••••">
            </div>
            <button type="submit"
                    class="w-full bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Entrar
            </button>
        </form>

        <div class="mt-6 text-center">
            <p class="text-white">Não tem uma conta?</p>
            <a href="{% url 'cadastro' %}" class="text-green-300 hover:text-green-100 underline">Cadastre-se aqui</a>
        </div>
    </div>
</body>
</html>